.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* background-color: wheat; */
    color: rgb(43, 43, 43);
}

html{
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: 1px;
    /* background-color: wheat; */
    color:rgb(43, 43, 43);
}
body{
    margin: 0px;
    /* background-color: wheat; */
    color:rgb(43, 43, 43);
    text-transform: uppercase;
}
img{
    width: 100%;
    max-height: 60vh;
    
}
.jumbo{
    /* padding: 2%; */
    /* margin: 1%;  */
    width: 100%;
    max-width: 999px;

}

.flex-box{
    display:flex;
     overflow: auto; 
    white-space:nowrap;

}
@media screen and  (max-width : 567px){
    .flex-box{
        display:block;
         /* overflow: auto;  */
        /* white-space: nowrap; */
    
    } 
}

.box{
    /* background-color: rgb(43, 42, 42); */
    /* color: rgb(228, 227, 227); */
    padding: 1%;
    margin: 1%;
  height: fit-content;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    /* max-height: 50vh; */

}

.img-con {
    overflow: hidden;
    height: 40vh;
    width: 100%;
}
textarea:focus, .btn:focus, input:focus{
    outline: none;
    box-shadow: none;
}
.link{
    color: rgb(247, 51, 142);
    text-decoration: none;
}
     
code{
    font-family:'Courier New', Courier, monospace ;
    /* background-color: grey; */
    padding: 2px;
    /* border-radius: 3px; */
    color: rgb(109, 109, 109);
}
 
table,thead, tbody, tr, th, td{
    border: none;
}
tr{
    background-color:rgb(99, 99, 99);
    color:rgb(228, 227, 227)
}
tr:nth-child(odd){
    background-color:aliceblue;
    color:rgb(43, 42, 42)
}
input{
    width: 100%;
    margin: 1%;
}
footer{
    background-color: rgb(43, 42, 42);
    width: 100%;
    color: #b9b8b8;
    padding: 10px;

}
footer h6{
    color: white;
}
.foot-card{
margin: 5%;
padding: 3%;
border-left: #b9b8b8 1px solid;
min-height: 10vh;
}

.foot-card p{
font-size: small;
}

.foot-card a{
    color:#585858 ;
}
.foot-card a:hover{
    color:#e4e4e4
}
nav{
    background-color:rgb(43, 42, 42);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: wheat; */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .line{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.line:before, .line:after {
    content:"  ";
    flex : 1 1;
    border-bottom: 1px solid #797979;
    margin: auto;
}

.line span{
    padding: 3px;
    margin: 3px;
}